@use '../../assets/sass/variables' as *;

.courseList__heading{
  color: $color-black;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .courseList__heading{
    font-size: 3rem;
  }
  .courseList__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}